<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="klevente.hu.hophelper">

    <!-- Permissions required by GoogleAuthUtil -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BeerDetailActivity"
            android:label="@string/title_activity_beer_detail"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="klevente.hu.hophelper.activities.MainActivity" />
        </activity>

        <service android:name=".services.MashingCountdownService" />
        <service android:name=".services.BoilingCountdownService" />

        <activity
            android:name=".activities.NewBeerActivity"
            android:label="@string/title_activity_new_beer"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="klevente.hu.hophelper.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MashingCountDownActivity"
            android:label="@string/mashing_countdown"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.BoilingCountDownActivity"
            android:label="@string/boiling_countdown"
            android:theme="@style/AppTheme" />
    </application>

</manifest>